.note-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 2px 2px 10px black;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
}
/* .note-item::after {
  flex: 0 0 12px;
} */

.note-item div {
  display: inline-flex;
  border-bottom: 1px solid rgba(136, 141, 127, 0.8);
}
.note-item > div > h3 {
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 2.5px 5px;
  margin: 0 5px;
  text-transform: capitalize;
}
.note-item > div > button {
  border-top-right-radius: 5px;
  color: white;
  border: none;
  background-color: #333;
}
.note-item > p {
  background-color: rgba(96, 97, 96, 0.1);
  text-align: justify;
  font-size: 12px;
  margin: 0;
  padding: 10px;
}
